
<div id="main-wrapper">
	<div id="main-content">
				<%=render "layouts/notice"%>
		<div class="page-title">
		  		<div class="other">
						<div class="float-left">添加优势</div>
						<div class="button float-right">

							<a href="/admin/advantages"  class="btn ui-state-default"><span class="ui-icon ui-icon-circle-plus"></span>返回</a>
						</div>
						<div class="clearfix"></div>
					</div>		
		</div>

	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
       <div class="portlet-content">
            <%= render 'form' %>
        </div>
	</div>
	<div class="clearfix"></div>

</div>
</div>