<!DOCTYPE html>
<html>
<head>
  <title>杰西卡国际教育咨询</title>
  <meta http-equiv="Content-Type" content="text/html;charset=uft8">
  <meta name ="keywords" content="杰西卡国际教育咨询 杰西卡">
  <meta name ="keywords" content="杰西卡国际教育咨询,英语培训,专业英语培训机构,英语培训机构,游学,留学,托福,雅思">
  <meta name="description" content="杰西卡国际英语培训机构由老外陪你练口语，纯正母语环境，快速掌握标准发音，清楚理解语音语义,用英语巩小时固自己的职场竞争力。">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

			<footer id="footer">

				<p>© 2014 JESSICAS INTERNATIONAL EDUCATION AND CONSULTING GROUP BEIJING
				</p>

			</footer>

</body>
</html>
